# This file defines a Docker Compose configuration for a web application with a MySQL database.
# Local development environment only.

volumes:
    mysql_data:

networks:
    app:
        driver: bridge

services:
    mysql:
        image: mysql:latest
        environment:
            MYSQL_ROOT_PASSWORD: rootpassword
            MYSQL_DATABASE: app
            MYSQL_USER: user
            MYSQL_PASSWORD: password
        ports:
            - "13306:3306"
        volumes:
            - mysql_data:/var/lib/mysql
            - ./database/sql:/docker-entrypoint-initdb.d
            - ./my.cnf:/etc/mysql/conf.d/my.cnf
        networks:
            - app
        healthcheck:
            test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
            timeout: 20s
            retries: 10

    app:
        build:
            context: .
        networks:
            - app
        depends_on:
            mysql:
                condition: service_healthy
        volumes:
            - .:/var/www/html
        ports:
            - "5173:5173" # For Vite development server
            - "8080:80"

    metabase:
        image: metabase/metabase:latest
        ports:
            - "3000:3000"
        networks:
            - app
        depends_on:
            mysql:
                condition: service_healthy
